---
layout: page
title: Teaching
subtext: (Don't just) listen and learn.
---
<h3>Seminars@KIT</h3>
<ul class="collapsible">

  {% for seminar in site.data.seminars %}
  <li>
    <div class="collapsible-header">{{ seminar.seminar_title }}</div>
    <div class="collapsible-body">
      <ul class="collection"> 
        {% for paper in seminar.papers %} 
        {% if paper.author %}
        <a class="collection-item" href="{{ paper.url }}" target="_blank">{{ paper.title }} ({{ paper.author }})</a>
        {% else %}
        <li class="collection-item">
        {{ paper.title }}
        </li>
         {% endif %}

        {% endfor %}
      </ul>
    </div>
  </li>
  {% endfor %}
</ul>

<div class="divider"></div>

<h3>Lectures@HFU</h3>
<p>
  (upcoming)
</p>