---
layout: page
title: Teaching
subtext: (Don't just) listen and learn.
---
<h3>Seminars</h3>
{% for seminar in site.data.seminars %}
<ul class="collapsible">
  <li>
  <div class="collapsible-header">{{ seminar.seminar_title }}</div>
  <div class="collpsible-body">
  {% for paper in seminar.papers %}
	{% if paper.author %}
	<a href="{{ paper.url }}" target="_blank">{{ paper.title }} ({{ paper.author }})</a> <br />
	{% else %}
	{{ paper.title }} <br />
	{% endif %}
  {% endfor %}
  </div>
</ul>
{% endfor %}

<ul class="collection with-header">
  <li class="collection-header">Sustainability Management (Winter 2017/18)</li>
  <li class="collection-item">(upcoming)</li>
</ul>
